<div class="ui container">
    <h1>2016 Presidential Campaign</h1>

    <div>
        <h2 id="candidate"></h2>
        <h2 id="description">Primary Elections Delegate Vote Results by State</h2>
    </div>

    <div id="message">
        <h2>Sorry this website is only inteded for desktop only!</h2>
    </div>

    <div id="nav">
        <div class="gop-nav">
            <button id="trumpbtn" class="ui button">Trump</button>
            <button id="cruzbtn" class="ui button">Cruz</button>
            <button id="rubiobtn" class="ui button">Rubio</button>
        </div>
        <div class="dem-nav">
            <button id="clintonbtn" class="ui button">Clinton</button>
            <button id="sandersbtn" class="ui button">Sanders</button>
        </div>
        <div class="map-nav">
            <button id="mapbtn" class="ui button">Map</button>
        </div>
    </div>

    <div id="canvas">
        <div id="map" class="unitedstates"></div>
     </div>

    <section id="primary-results">
        <div id="NH" class="ui stackable grid">
            <h2 class="state">New Hampshire Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>11</p>
                <h4>Cruz</h4>
                <p>3</p>
                <h4>Rubio</h4>
                <p>2</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>9</p>
                <h4>Sanders</h4>
                <p>15</p>
            </div>
        </div>
        <div id="IA" class="ui stackable grid">
            <h2 class="state">Iowa Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>7</p>
                <h4>Cruz</h4>
                <p>8</p>
                <h4>Rubio</h4>
                <p>7</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>23</p>
                <h4>Sanders</h4>
                <p>21</p>
            </div>
        </div>
        <div id="SC" class="ui stackable grid">
            <h2 class="state">S. Carolina Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>50</p>
                <h4>Cruz</h4>
                <p>-</p>
                <h4>Rubio</h4>
                <p>-</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>39</p>
                <h4>Sanders</h4>
                <p>14</p>
            </div>
        </div>
        <div id="NV" class="ui stackable grid">
            <h2 class="state">Nevada Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>14</p>
                <h4>Cruz</h4>
                <p>6</p>
                <h4>Rubio</h4>
                <p>7</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>20</p>
                <h4>Sanders</h4>
                <p>15</p>
            </div>
        </div>
        <div id="AL" class="ui stackable grid">
            <h2 class="state">Alabama Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>36</p>
                <h4>Cruz</h4>
                <p>13</p>
                <h4>Rubio</h4>
                <p>1</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>44</p>
                <h4>Sanders</h4>
                <p>9</p>
            </div>
        </div>
        <div id="AK" class="ui stackable grid">
            <h2 class="state">Alaska Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>11</p>
                <h4>Cruz</h4>
                <p>12</p>
                <h4>Rubio</h4>
                <p>5</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>-</p>
                <h4>Sanders</h4>
                <p>-</p>
            </div>
        </div>
        <div id="AR" class="ui stackable grid">
            <h2 class="state">Arkansas Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>16</p>
                <h4>Cruz</h4>
                <p>14</p>
                <h4>Rubio</h4>
                <p>9</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>22</p>
                <h4>Sanders</h4>
                <p>10</p>
            </div>
        </div>
        <div id="GA" class="ui stackable grid">
            <h2 class="state">Georgia Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>40</p>
                <h4>Cruz</h4>
                <p>18</p>
                <h4>Rubio</h4>
                <p>14</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>72</p>
                <h4>Sanders</h4>
                <p>28</p>
            </div>
        </div>
        <div id="MA" class="ui stackable grid">
            <h2 class="state">Massachesetts Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>22</p>
                <h4>Cruz</h4>
                <p>4</p>
                <h4>Rubio</h4>
                <p>8</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>46</p>
                <h4>Sanders</h4>
                <p>45</p>
            </div>
        </div>
        <div id="MN" class="ui stackable grid">
            <h2 class="state">Minnesota Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>8</p>
                <h4>Cruz</h4>
                <p>13</p>
                <h4>Rubio</h4>
                <p>17</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>29</p>
                <h4>Sanders</h4>
                <p>46</p>
            </div>
        </div>
        <div id="OK" class="ui stackable grid">
            <h2 class="state">Oklahoma Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>12</p>
                <h4>Cruz</h4>
                <p>14</p>
                <h4>Rubio</h4>
                <p>11</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>16</p>
                <h4>Sanders</h4>
                <p>21</p>
            </div>
        </div>
        <div id="TN" class="ui stackable grid">
            <h2 class="state">Tennessee Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>31</p>
                <h4>Cruz</h4>
                <p>14</p>
                <h4>Rubio</h4>
                <p>9</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>42</p>
                <h4>Sanders</h4>
                <p>22</p>
            </div>
        </div>
        <div id="TX" class="ui stackable grid">
            <h2 class="state">Texas Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>38</p>
                <h4>Cruz</h4>
                <p>99</p>
                <h4>Rubio</h4>
                <p>4</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>144</p>
                <h4>Sanders</h4>
                <p>73</p>
            </div>
        </div>
        <div id="VT" class="ui stackable grid">
            <h2 class="state">Vermont Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>6</p>
                <h4>Cruz</h4>
                <p>-</p>
                <h4>Rubio</h4>
                <p>-</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>-</p>
                <h4>Sanders</h4>
                <p>16</p>
            </div>
        </div>
        <div id="VA" class="ui stackable grid">
            <h2 class="state">Virginia Results</h2>
            <div class="seven wide column">
                <h3 class="reps">Republicans:</h3>
                <h4>Trump</h4>
                <p>17</p>
                <h4>Cruz</h4>
                <p>8</p>
                <h4>Rubio</h4>
                <p>16</p>
            </div>
            <div class="seven wide column">
                <h3 class="dems">Democrats:</h3>
                <h4>Clinton</h4>
                <p>61</p>
                <h4>Sanders</h4>
                <p>32</p>
            </div>
        </div>
    </section>

    <div id="questions">
        <i class="help icon"></i>
        <div class="help"><p id="help">Hover-over map on chosen state and a popup will appear of the state primary election results. Only colored states have completed one or both of its primary elections. The results are delegate votes.</p></div>
    </div>

    <div>
        <div id="canvas_container"></div>
    </div>

    <footer>
        Ale &copy 2015
    </footer>

    <div class="gop-numbers">
        <h2>Cruz</h2>
        <% @candidate.gop_primary.each do |poll| %>
            <ul>
            <%= poll %>
            <% poll.estimates.each do |p| %>
                <% if p[:choice] === "Cruz" %>
                    <li class="<%= p[:choice] %>"><%= p[:value] %></li>
                <% end %>
            <% end %>
            </ul>
        <% end %>
        <h2>Trump</h2>
        <% @candidate.gop_primary.each do |poll| %>
        <%= poll %>
            <ul>
            <% poll.estimates.each do |p| %>
                <% if p[:choice] === "Trump" %>
                    <li class="<%= p[:choice] %>"><%= p[:value] %></li>
                <% end %>
            <% end %>
            </ul>
        <% end %>
        <h2>Rubio</h2>
        <% @candidate.gop_primary.each do |poll| %>
        <%= poll %>
            <ul>
            <% poll.estimates.each do |p| %>
                <% if p[:choice] === "Rubio" %>
                    <li class="<%= p[:choice] %>"><%= p[:value] %></li>
                <% end %>
            <% end %>
            </ul>
        <% end %>
    </div>

    <div class="dem-numbers">
        <h2>Clinton</h2>
        <% @candidate.dem_primary.each do |poll| %>
            <ul>
            <%= poll %>
            <% poll.estimates.each do |p| %>
                <% if p[:choice] === "Clinton" %>
                    <li class="<%= p[:choice] %>"><%= p[:value] %></li>
                <% end %>
            <% end %>
            </ul>
        <% end %>
        <h2>Bernie</h2>
        <% @candidate.dem_primary.each do |poll| %>
        <%= poll %>
            <ul>
            <% poll.estimates.each do |p| %>
                <% if p[:choice] === "Sanders" %>
                    <li class="<%= p[:choice] %>"><%= p[:value] %></li>
                <% end %>
            <% end %>
            </ul>
        <% end %>
    </div>
</div>
